[class*="embedImage"] {
  border-radius: 0px !important;
}
[class*="embedVideo"] {
  border-radius: 0px !important;
}
[class*="embedMedia"] {
  border-radius: 0px !important;
}
[class*="visualMediaItemContainer_"] {
   border-radius: 0px !important;
}
[class*="oneByOneGrid"] {
   border-radius: 0px !important;
}
[class*="avatar"] {
   border-radius: 0px !important;
}
[class*="imageWrapper"] {
   border-radius: 0px !important;
}
[class*="mosaicItem"] {
   border-radius: 0px !important;
}
[class*="video"] {
   border-radius: 0px !important;
}
[class*="loadingOverlay_"] {
   border-radius: 0px !important;
}   
